<ul class="accordion">
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Structure</li>
  <li class="a">
    <ul>
      <li>RCC wall structure using MIVAN aluminium formwork. (Tower 1 to 12, Signature Tower)</li>
      <li>RCC framed structure (Tower 14 &amp; 15)</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Floor Finishes</li>
  <li class="a">
    <ul>
      <li>Matt finish vitrified tiles of approved brand KAJARIA or equivalent.Premium marble finish semi matt vitrified
        tile for living &amp; dining rooms with KAJARIA or equivalent (4 BHK)</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Wall Finishes</li>
  <li class="a">
    <ul>
      <li>Internal Walls and Ceiling: Smooth putty finish with 2 coats of acrylic emulsion paint of reputed brand over
        one coat of primer.</li>
      <li>Toilet: Matt finish vitrified tile up to the false ceiling level.</li>
      <li>External Walls: Textured finish with 2 coats of weather proof exterior emulsion paint of reputed brand.</li>
      <li>MS Grill: Enamel paint over one coat of Zinc chromate primer.</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Kitchen</li>
  <li class="a">
    <ul>
      <li>Granite counter top</li>
      <li>Matt finish vitrified Dado tile - laid 2 feet above the counter</li>
      <li>Single bowl stainless steel sink of reputed brand</li>
      <li>Provision for Aquaguard point, exhaust fan and chimney</li>
      <li>Provision for washing machine in utility area</li>
      <li>Power point for chimney, refrigerator, microwave oven, mixer/grinder</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>False Ceiling</li>
  <li class="a">
    <ul>
      <li>In all toilets (2*2 Grid False Ceiling) and common areas such as clubhouse and lobby </li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Sanitary Ware</li>
  <li class="a">
    <ul>
      <li>Toilets: Comes with wall-mounted EWC of CATALANO or equivalent</li>
      <li>Provision for health faucet in all toilets.</li>
      <li>CP fittings, hot and cold water mixer unit for showers (GROHE or equivalent)</li>
      <li>Wall-mounted washbasin in all toilets (CATALANO or equivalent)</li>
      <li>Above counter washbasin in 4BHK master toilet</li>
      <li>Provision for washbasin in dining area</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Doors (with Chrome finished hardware of reputed brand)</li>
  <li class="a">
    <ul>
      <li>Main Entrance Door : Double side veneered 40mm thick flush door with engineered frame and Melamine polished
        finish</li>
      <li>Bedroom Door: Wooden frame with 35mm thick shutter with two side decorative foil and polished frames</li>
      <li>Toilet Door: Wooden frame with 32mm thick shutter with two side decorative foil and polished frames</li>
      <li>French Door: UPVC with clear float glass panel</li>
      <li>Premium chrome finished hardware of reputed brand for all doors</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Windows / Ventilators</li>
  <li class="a">
    <ul>
      <li>UPVC with clear float glass panels for all windows</li>
      <li>UPVC with frosted glass in toilet ventilators with an exhaust fan provision</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Electrical Wiring &amp; Switches</li>
  <li class="a">
    <ul>
      <li>Concealed insulated fire retard low smoke wiring (Polycab/Anchor or equivalent)</li>
      <li>3-phase electric supply with MCB &amp; RCCB</li>
      <li>Provision for Telephone points in living area</li>
      <li>Provision for Internet Connection in living and master bedroom</li>
      <li>Modular switches (Anchor or equivalent)</li>
      <li>Integrated DTH system using Triax Sat Wave System.</li>
      <li>Miniature Circuit Breaker (MCB) for each room shall be provided through the main distribution box set-up in
        each flat.</li>
      <li>Provision for horizontal geyser, exhaust fan in all bathrooms</li>
      <li>Split AC provision for living, dining and all bedrooms</li>
      <li>One Residual Current Circuit Breaker (RCCB) with 30mA sensitivity in each flat distribution box</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Power Backup</li>
  <li class="a">
    <ul>
      <li>D.G. Set backup with acoustic enclosure and AMF for all common amenities including clubhouse, lifts, common
        lighting, motor and pump.</li>
      <li>Apartment Power Backup with Load Limiter: 3BHK – 1.5KVA, 2BHK – 1.2KVA, 1BHK – 0.6 KVA &amp; 4BHK - 1.8 KVA.
      </li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Elevator Wall Cladding</li>
  <li class="a">
    <ul>
      <li>Lift Wall Cladding: Granite / Marble</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Corridors / Lobbies</li>
  <li class="a">
    <ul>
      <li>Common Corridor and Lobbies: Vitrified tile flooring and skirting. </li>
      <li>Main Entrance Lobby in all Blocks: Vitrified tile flooring. </li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Staircases</li>
  <li class="a">
    <ul>
      <li>Granite with MS railing, enamel painted.</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Plumbing</li>
  <li class="a">
    <ul>
      <li>CPVC concealed water lines for internal</li>
      <li>UPVC / PVC pipes for external</li>
      <li>Bore wells/metro water, underground and overhead storage tanks (of suitable capacity) with pumps and water
        treatment plant</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Elevators / Lifts</li>
  <li class="a">
    <ul>
      <li>15PAX / 13PAX elevators of reputed make (Mitsubishi or equivalent)</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Other Facilities / Amenities</li>
  <li class="a">
    <ul>
      <li>Piped gas connection with individual meter for every apartment.</li>
      <li>Intercom facility in all apartments that connects security guards at the main entrance</li>
      <li>CCTV cameras with 24/7 security surveillance</li>
      <li>Sewage: Centralized sewage treatment plant.</li>
      <li>Firefighting: Underground / Overhead tanks with pumps and wet riser for firefighting. Fire hydrant and fire
        alarm in all floors and lobbies.</li>
      <li>All the norms specified by the department of fire and rescue services shall be met.</li>
      <li>Internal roads finished with inter-locking paver blocks or well finished bitumen topped roads and ample
        landscaped green open spaces.</li>
      <li>Garbage chute</li>
    </ul>
  </li>
  <li class="q"><svg xmlns="http://www.w3.org/2000/svg" width="18"
        height="18" viewBox="0 0 24 24" fill="none" stroke="#2d69b0" stroke-width="3" stroke-linecap="round"
        stroke-linejoin="round" class="accordion-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>Automation</li>
  <li class="a">
    <ul>
      <li>2BHK: Lighting Control, Fan ON /OFF</li>
      <li>3BHK: Lighting Control, Fan ON /OFF</li>
      <li>4BHK: Lighting Control, Fan ON /OFF with Main Door Intrusion</li>
    </ul>
  </li>
</ul>