<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Successfully Placed {{order.tracking_client_id |safe}}</title>
</head>
<body>

<p>Dear {{order.name}},</p>
<p>Thank you for placing your order with Space and Beauty.</p>
<p>Before anything else, PLEASE read the following about delivery timings and other relevant information, just so you
    know when to expect your goodies!!!</p>

<p>
    <br>
    <b> Delivery Details: </b>
    <br>
    <br>
    <b>Regular Orders:</b> All products will be delivered within 3-9 days depending on your location. However, remote
    locations may take up to 14 days from the date of order. The bigger your city, the faster the delivery.
</p>

<br>
<p>
    Note: Due to the current COVID situation, and depending upon the announcements made by the government, there might
    be few delays in processing your order. But, please do keep in mind that we are working our best to bring the
    happiness you ordered to you as soon as possible.
</p>
<p>
    YOU WILL GET A TRACKING LINK AS SOON AS YOUR ORDER IS SHIPPED. Please allow 24 Hours for the status of the shipment
    to correctly display at the tracking link.
</p>
<p>
    If you have any queries regarding the order / delivery details please contact
    <br>
    Email: <a href="mailto:hey@spaceandbeauty.com">hey@spaceandbeauty.com</a>
</p>
<p style="text-align: center;">
    We're so excited to send this out to you!<br>
    Thank you again and have a wonderful day!
</p>

</body>
</html>