<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Hey {{order.user.user.get_full_name}},
<p>
Your order {{order.tracking_client_id | safe}} is ready for Dispatch. It will be dispatched in 24-48 hours.<br>
Kindly allow an additional 24 hours to get notified regarding the dispatch, followed by a tracking link.
</p>
<p>
Kindly expect delays in the shipping process, due to COVID. We regret the inconvenience and request you to please bear with us in this extremely challenging situation.
</p>
<p>
For queries, please WhatsApp 9600999559<br>
Kindly expect delay in response till 10th due to dispatch activities.<br>
Thank you<br>
</p>
Space and Beauty

</body>
</html>