{% extends "admin/change_list.html" %}
{% load i18n static %}

{% block extrahead %}{{ block.super }}
<style>
    .user-table {
        width: 100%;
        border-collapse: collapse;
    }

    .user-table th {
        color: #fff;
        padding: 8px 12px;
        text-align: left;
        font-size: 12px;
        border-bottom: 1px solid #f0f1f3;
    }



    .user-table td {
        padding: 8px 12px;
        border-bottom: 1px solid #eee;
        font-size: 13px;
    }
</style>
{% endblock %}

{% block content %}
<div class="user-table">
    {{ block.super }}
</div>
{% endblock %}