{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block content %}
  <div class="user-list-container">
    {{ block.super }}
  </div>
{% endblock %}

{% block object-tools %}
  <div class="object-tools">
    {% if has_add_permission %}
      <a href="{% url opts|admin_urlname:'add' %}" class="addlink">
        {% blocktrans with opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
      </a>
    {% endif %}
    <a href="{% url 'admin:auth_user_changelist' %}" class="historylink">
      View Users
    </a>
  </div>
{% endblock %}